.action-list {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  margin-left: -10px;
}

.action-list__item {
  display: inline-block;
  vertical-align: middle;
  width: 57px;
  height: 57px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
  background-color: transparent;
  border: 0;
  margin-left: 10px;
}

.action-list__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.25s ease;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.action-list__item:empty::before {
  opacity: 1;
}

/* Icons */
.action-list__item_id_145::before {
  background-image: url("img/action__icon_id_145.png");
}

.action-list__item_id_146::before {
  background-image: url("img/action__icon_id_146.png");
}

.action-list__item_id_147::before {
  background-image: url("img/action__icon_id_147.png");
}

.action-list__item_id_148::before {
  background-image: url("img/action__icon_id_148.png");
}
